<br>
<br>
<div class="center">
	<img src="/logo.png">
</div>

<hr width="410">
<div class="center">
	<br>
<h4>About MeTube</h4>
</div>
<p class="about">During my summer vacation, I had the priviledge of taking a coding couse with The Coding Circle. I learned many new things that helped me become a better coder. This website (MeTube) is the result of what I learned. We were asked to combine our HTML, CSS and Ruby skills together, to form a website such as this one. Creating this website was extremely fun, and I hope that you enjoy using it as much as I enjoyed creating it!</p>
 <div class="center">
 <a class="waves-effect waves-teal btn-flat" href="https://www.facebook.com/codingcirclejordan/">Click here to learn more about The Coding Circle!</a>
 <br>
 <br>
 <div class="row">
 	<div class="col s2 offset-s3 center"><i class="medium material-icons">email</i><p style="center">dadoush03@gmail.com</p></div>
 	<div class="col s2 center"><i class="medium material-icons">phones</i><p style="center">0795007800</p></div>
 	<div class="col s2 center"><i class="medium material-icons">thumb_up</i><p style="center">Hope you enjoy!</p></div>

 </div>

            






